/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HTML Elements */
body {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
  background-color: white;
  color: rgba(0, 0, 0, 0.75);
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  clear: both;
}

/* Material icons */

.material-icons {
  vertical-align: middle;
}

.disabled {
  color: rgba(0, 0, 0, 0.25);
}

/* Design Classes */

.page {
  margin: 60px 15px 15px 15px;
}

/* The app bar and it's parts */

.app-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #FFC107;
  color: black;
  padding: 10px 10px 10px 20px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.app-bar .title {
  margin-left: 10px;  
}

.app-bar .more {
  float: right;
}

/* An individual feed item */

.item {
  clear: both;
  overflow: auto;
}

/* The feed items information line */

.info-line {
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.75);
}

.icon {
  background: rgba(0, 0, 0, 0.50);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  margin-left: 2px;
}

.user {
  line-height: 20px;
}

.time {
  float: right;
  line-height: 20px;
  margin-right: 2px;
  color: rgba(0, 0, 0, 0.25);
}

/* The items player line */

.player-line {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.play-track {
  width: calc(100% - 35px);
  background: rgba(255, 255, 255, 0.25);
  float: right;
  padding-left: 85%; /* 0% to 85% */
}

.description {
  margin-bottom: 10px;
}

/* The items tool line */

.tool-line {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.75);
  float: right;
}